.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
  width: 100%;
}

.loginSection {
  display: flex;
  flex-direction: column;
}

.logInTitle {
  margin-bottom: 20px;
}
.username {
  justify-content: flex-start;
  font-weight: 500;
  width: 100%;
  margin-bottom: 4px;
}

.password {
  justify-content: flex-start;
  font-weight: 500;
  width: 100%;
  margin-bottom: 4px;
}

.lInput {
  height: 30px;
  padding: 5px;
  margin: 4px;
  width: 40vh;
  border-radius: 5px;
}

.lButton {
  border: none;
  padding: 15px 20px;
  background-color: #006ce4;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 42vh;
  margin-top: 15px;
  font-size: 20px;
}

.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}

.register {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: max-content;
  margin: 16px 0;
}

.registerText {
  margin: 0 8px 2px;
  white-space: nowrap;
}

.registerHere {
  white-space: nowrap;
  color: blue;
  text-decoration: none;
}
