.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  /* Give max-width to center the navContainer 
   when using bigger screen. 
   Check how it looks by adding [background-color: red;] */
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
}

.navButton {
  margin-left: 20px;
  border-width: 1px;
  border-color: #0071c2;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  color: #0071c2;
  font-weight: 600;
}

.navButton:hover {
  background-color: #e4f4ff;
}
